.cards{
    width: 70%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    background-image: linear-gradient(225deg, #525153  0%, #ffffff 100%);
    padding-top: 5%;
    padding-bottom: 7.5%;   
}
.cardsDark{
    width: 70%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    background-image: linear-gradient(225deg, rgb(66, 69, 75) 0%, #000000 100%);
    padding-top: 5%;
    padding-bottom: 7.5%; 
}

.cardsBox{   
    display: flex;
    justify-content: flex-start;
    align-items:center ;
    flex-direction:column;
    border: 2px solid green;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    margin: 15px;   
    background-color: rgb(60, 62, 68);
}
.cardsBoxDark{
    display: flex;
    justify-content: flex-start;
    align-items:center ;
    flex-direction:column;
    border: 2px solid green;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    margin: 15px;   
    background-color:rgb(82, 83, 85);
    
}
.information{
    height:250px;
    width: 250px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    line-height: 20px;
    font-size: 10px;
    border:1px solid blue;
    color:white;
    
}
.information>h3{
    color:rgb(158, 158, 158);
}
.information>h2{
    margin-bottom: 10px;
}
.information>h2:hover{
    color:rgb(255, 152, 0);
    cursor:pointer;
    margin:none;
}

.name{
    font-family:112.5%/1.625 -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: bold;   
    color:white;
    font-size:25px;;
}
.name:hover{
    color:rgb(255, 152, 0);
    cursor:pointer;
    margin:none;
}
.btn>button{
    margin:10px;
    border:1px solid red;
    width: 70px;
}
/* Aca se empieza a colocar los estilos para version MOBILE */
@media only screen and (max-width: 500px) {
.cards{
    width: 70%; 
}
.cardsDark{

    width: 70%; 

}
.cardsBox{
    width: 90%;
    height: 180px;
    border-radius: 10px;
}
.cardsBoxDark{
    width: 90%;
    height: 180px;
    border-radius: 10px;
}

.information{
    
    line-height: 15px;
    font-size: 7.5px;
    padding-right:10px;
    width: 150px;
}
.name{
    font-size:16px;;
}
}