.body{
    display: flex;
    background-image: linear-gradient(225deg, #525153  0%, #ffffff 100%);
}
.darkBody{
    display: flex;
    background-image: linear-gradient(225deg, rgb(66, 69, 75) 0%, #000000 100%);
}