.form{
    
    padding-top: 5%;
    padding-bottom: 7.5%; 
    display: flex;
    /* justify-content: flex-start; */
    /* align-items:center ; */
    flex-wrap: wrap;
    flex-direction:column;
    border: 2px solid grey;
    width: 400px;
    height: 350px;
    border-radius: 5px;
    margin-left: 55px;   
    margin-top: 15px;
    background-image: linear-gradient(225deg, #525153  0%, #ffffff 100%);
}

.grabar {
    color:green;
    border: solid 2px green;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    margin-top:10px;
    font-size: 15px;
    
}
.cancelar {
    color:red;
    border: solid 1px red;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    margin-top:10px;
    font-size: 15px;
    
}

@media only screen and (max-width: 500px) {
    .form{
        width: 100%;
        margin: 0px;
    }
}